<div class="msg-from clearfix">
  <p class="right">
    <span class="from_user">{{ uname }} </span>
    <span class="send_time">{{ send_time }}</span>
  </p>
</div>
<div class="msg-content clearfix">
  <p class="right">{{ msg }}</p>
</div>
