<div class="msg-from clearfix">
  <p class="left">
    <span class="from_user">{{ uname }} </span>
    <span class="send_time">{{ send_time }}</span>
  </p>
</div>
<div class="msg-content clearfix">
  <p class="left">{{ msg }}</p>
</div>